<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ data.title }}</title>
</head>
<body>
<div class="text-center">
    <h1>{{ data.content }}</h1>
    <p>{{ data.request }}</p>
    <div>
        {% filter force_escape|upper %}
        This text will be HTML-escaped, and will appear in all lowercase.
        {% endfilter %}
    </div>
    <div>
        {% autoescape off %}
        {% firstof var1 var2 var3 "<strong>fallback value</strong>" %}
        {% endautoescape %}
    </div>

    <div>
        <ul>
            Number of course: {{ data.lists|length }}
            {% for x in data.lists %}
                <li><b>Item {{ forloop.counter }}</b>: {{ x }}</li>
            {% empty %}
                <li>Sorry, no course in this list.</li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>
</html>